body {
  /*  height: 100vh;*/
}

.meta-data {
  display: none;
}

#navbar.active nav {
  background-color: white;
}

.navbar-brand img {
  width: 180px;
}

.navbar-nav .nav-item a {
  color: #333333;
  font-size: 1.1rem;
}

.navbar-nav .nav-item a.sign-up {
  color: white;
  border-color: white;
}

.navbar-brand div {
  display: inline-flex;
  vertical-align: middle;
  color: whitesmoke;
}

img.card-img-top {
  transform: rotate(180deg);
}

div.card-image {
  background-color: whitesmoke;
  /* background-color: #4C91F0; */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

div.card-image img {
  margin: 20px;
}

.content.container {
  margin-top: 20px;
}

.nav-item {
  margin-left: 20px;
}

.homepage-jumbotron-index {
  background-image: url("img/ltd-bg-4-transparent-full.png") !important;
}

.homepage-jumbotron {
  background-image: url("img/ltd-bg-4-transparent-full.png");
  background-position: top center;
  background-size: cover;
  color: rgb(75, 75, 75) !important;
}

.card-body {
  font-family: "Times New Roman", Times, serif;
}

.navbar-brand {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

.nav-link {
  font-family: "Times New Roman", Times, serif;
}

.white {
  background-color: white;
  padding: 11px;
}

.display-1 {
  font-family: "Times New Roman", Times, serif;
}

.display-handwriting {
  font-family: 'Patrick Hand', cursive;
}

.card-display {
  font-weight: 200;
  font-size: 2rem;
}

.display-8 {
  font-weight: 200;
  font-size: 1rem;
}

#board {
  margin-top: 100px;
}

.letters {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  font-size: 5.5em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.vowel {
  background-color: #f7e00f;
}

.consonant {
  background-color: #2bc1e3;
}

.workarea {
  clear: both;
  height: 80vh;
  width: 80%;
  border: 10px solid black;
}

.nav-link {
  cursor: pointer;
}

.dropdown a {
  color: #ffffff80;
  text-decoration: none;
}

.dropdown a:hover {
  text-decoration: none;
}

.dropdown li:hover {
  background-color: #6c757d;
  text-decoration: none;
}

.dropdown li {
  padding: 10px;
}

.display-5,
.display-2 {
  font-family: "Times New Roman", times, serif;
}

.display-6 {
  font-size: 2.5rem;
}

.info-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.default-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.checked {
  color: orange;
}

.contact-subtext {
  font-size: 16px;
}

.giant-font {
  font-size: 200px;
}

.large-font {
  font-size: 100px;
  min-height: 300px;
  padding-top: 60px;
}

.flashcard {
  border: 1px solid lightgrey;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background-image: url("img/slide-general-bg-learntodecode.jpg");
  background-size: cover;
  background-position: center center;
  box-shadow: 2px 2px 2px 2px lightgrey;
}

.settings-button {
  margin-bottom: 10px;
}

.chosen {
  background-color: lightblue;
  color: black;
}

.no-display {
  display: none;
}

/* 
.text-block-white {
  border: 5px double white;
  border-radius: 10px;
} */

.text-block-black {
  border: 5px double black;
  border-radius: 10px;
}

.card-group-bg {
  /* background-color: #edf5f7; */
  width: 100%;
  padding: 20px;
}

.jumbotron {
  margin-bottom: 0px !important;
  background-color: unset;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.editable {
  white-space: pre-wrap;
  display: inline-block;
}

.content-title {
  width: 100%;
  text-align: left;
  font-size: 3rem;
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
}